In [13]:
#Imports
import pandas as pd
from sklearn import preprocessing as pp

# Question 1: Discretization

The categories:
- Cold     :        x <  70
- Warm     : 70  <= x <= 85
- Hot      : 85  <  x <  100
- Very Hot : 100 <= x

In [11]:
temperature = pd.DataFrame({ 'data' : [72, 85, 90, 77, 65, 80, 95, 102, 60, 68, 88, 73, 78, 69, 91, -10, -5, -20]})

temperature['label'] = pd.cut(temperature.data, bins=[-float('inf'),70,85,100,float('inf')], labels=["Cold", "Warm", "Hot", "Very Hot"])

print(temperature)

    data     label
0     72      Warm
1     85      Warm
2     90       Hot
3     77      Warm
4     65      Cold
5     80      Warm
6     95       Hot
7    102  Very Hot
8     60      Cold
9     68      Cold
10    88       Hot
11    73      Warm
12    78      Warm
13    69      Cold
14    91       Hot
15   -10      Cold
16    -5      Cold
17   -20      Cold

The code reflects the categories as everything is correctly categorized, with the bins being (-inf,70], (70,85],  (85,100], and (100, inf). With these bins nothing had to be changed to reflect the dataset given with the categories given.

# Question 2: Numeric Coding of Nominal/Ordinal Attributes

## Task 2.A: One-Hot Encoding Using OneHotEncoder

In [27]:
car_brands = pd.DataFrame({ 'data' : ["Toyota", "Ford", "Honda", "Toyota", "BMW", "Ford", "Honda"]})

hot = pp.OneHotEncoder(handle_unknown='ignore')

hot_brands = pd.DataFrame(hot.fit_transform(car_brands).toarray())

final_brands = car_brands.join(enc_brands)

print(final_brands)

     data    0    1    2    3
0  Toyota  0.0  0.0  0.0  1.0
1    Ford  0.0  1.0  0.0  0.0
2   Honda  0.0  0.0  1.0  0.0
3  Toyota  0.0  0.0  0.0  1.0
4     BMW  1.0  0.0  0.0  0.0
5    Ford  0.0  1.0  0.0  0.0
6   Honda  0.0  0.0  1.0  0.0

The categories are as follows Toyota = 3, Honda = 2, Ford = 1, BMW= 0.  
The columns right of the data are categorizing the data into one of the four categories.

## Task 2.B Ordinal Encoding Using OrdinalEncoder

In [31]:
brand_size = pd.DataFrame({
    'Brand': ["Toyota", "Ford", "Honda", "Toyota", "BMW", "Ford", "Honda"],
    'Size': ["M", "L", "S", "XL", "M", "S", "L"]
})

ordinal = pp.OrdinalEncoder()

enc_brand_size = pd.DataFrame(ordinal.fit_transform(brand_size))

final_brand_size = brand_size.join(enc_brand_size)

print(final_brand_size)

    Brand Size    0    1
0  Toyota    M  3.0  1.0
1    Ford    L  1.0  0.0
2   Honda    S  2.0  2.0
3  Toyota   XL  3.0  3.0
4     BMW    M  0.0  1.0
5    Ford    S  1.0  2.0
6   Honda    L  2.0  0.0

The way that numeric values are assigned are as follows
| Numeric Value | Brand | Size |
| ------------- | ----- | ---- |
| 0             | BMW   | L    |
| 1             | Ford  | M    |
| 2             | Honda | S    |
| 3             | Toyota| XL   |